/* 顶部广告 start */
.header{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}

.header img{
    height: 120px;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}
/* 顶部广告 end */

/* 黑色导航 start */

.black-nav{
    width: 100%;
    height: 40px;
    line-height: 40px; /* 上下居中 */
    background-color: #333;
    font-size: 12px;
}
 .wrap{
    width: 1226px;
    margin: 0 auto;
}
.black-nav .wrap .black-nav-left{
    float: left;
}

.black-nav .wrap .black-nav-right{
    float: right;
}

.black-nav .wrap li{
    float: left;
    position: relative;
}

.black-nav a{
    color: #b0b0b0;
}

.black-nav .wrap li span{
    color: #424242;
    margin: 0 3.6px;
}

/* 下载APP */
.download{
    width: 124px;
    height: 0px;
    background:#fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    z-index:10;
    overflow: hidden;
}

.download img{
    width: 90px;
    margin: 18px auto 0;
}

.download p{
    color: #333;
    font-size: 12px;
    line-height: 12px;
}

/* 鼠标滑到显示 */
.black-nav-left li:hover>.download{
    height: 148px;
}

.stri{
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    display: none;
}


.black-nav-left>li:hover>.stri{
    display: block;
}

/* 购物车 */
.cart{
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
}

.cart:hover{
    background: #fff;
}

.cart:hover>a{
    color: #ff6700;
}

.cart i{
    font-style: normal;
    margin-right: 8px;
}

.cart-list{
    width: 316px;
    height: 0px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    position: absolute;
    right: 0;
    top: 40px;
    color: #424242;
    overflow: hidden;
    line-height: 100px;
    z-index:10;
}

.cart:hover>.cart-list{
    height: 100px;
}

/* 黑色导航 end */

/* 白色导航 start */

.white-nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
}

.logo{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    float: left;
    margin-top: 22.5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;/* 圆角 */
}

.logo>img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.2s;
}

.mi-home{
    left: -55px;
}

.mi-logo{
    left: 0;
}

.logo:hover>.mi-home{
    left: 0px;
}
.logo:hover>.mi-logo{
    left: 55px;
}

.nav-bar{
    width: 875px;
    height: 100px;
    line-height: 100px;
    float: left;
}

.search{
    width: 296px;
    height: 100px;
    float: right;
}
.nav-bar li{
    float: left;/* 横向摆放 */
}
.nav-bar li a{
    color: #333;
    padding: 0 10px;/* 边框 */
}
.nav-bar li a:hover{
    color: #ff6700;
}
.nav-bar ul li img{
    margin-top: 22.5px;
}

.search input{
    width: 244px;
    height: 50px;
    float: left;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 0 10px;
    outline: none;
    border-right: 0;
}

.search button{
    width: 52px;
    height: 50px;
    float: right;
    border: 1px solid #e0e0e0;
    margin-top: 25px;
}

.search button:hover{
    background: #ff6700;
    color: #fff;
}

.nav-bar-list{
    width: 100%;
    height: 229px;
    background: #fff;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
    z-index:10;
}

.nav-bar li:hover>.nav-bar-list{
    display: block;
}

.nav-bar-list li{
    line-height: normal;
    border-right: 1px solid #eee;
}

.nav-bar-list .name{
    font-size: 12px;
    color: #333;
}

.nav-bar-list .price{
    font-size: 12px;
    color: #ff6700;
}

/* 白色导航 end */

/* banner start */
.banner{
    width: 100%;
    height: 460px;
}
.banner-img{
    width: 100%;
}

.banner>.wrap{
    position: relative;
}

.slide{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105,101,101,0.6);
    position: absolute;
    left: 0;
    top: 0;
}

.slide>ul>li{
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
}

.slide>ul>li>a{
    color: #fff;
}

.slide i{
    float: right;
    padding-right: 20px;
}
.slide>ul>li:hover{
    background-color: #ff6700;
}

.slide-list{
 
    width: 992px;
    height: 460px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    position: absolute;
    top:0;
    left: 234px;
    display: none;
}
.slide-list ul{
    width: 100%;
}
.slide-list ul li{
    width: 240px;
    height: 76px;
    float: left;
    padding: 18px 0 18px 20px;
    box-sizing: border-box;
    line-height: 76px;
}
.slide-list img{
    width: 40px;
    margin-right: 10px;
}
.slide-list span{
    color: #333;
    font-size: 14px;
    position: relative;
    top: -10px;
}
.slide li:hover .slide-list{
    display: block;
}
.slide-list li:hover span{
    color: #ff6700;
}
/* banner end */

/* 广告模块 start */
.ad{
    width: 100%;
    height: 170px;
    padding: 14px 0;
    background-color: #fff;
}
.ad-aside{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    padding: 3px;
    box-sizing: border-box;
    font-size: 12px;
    float: left;
}
.ad-aside li{
    float: left;
    width: 76px;
    height: 82px;
    padding-top: 18px;
    box-sizing: border-box;
    opacity: 0.7;
}

.ad-aside i{
    font-size: 24px;
    margin-bottom: 4px;
    display: block;
    color: #fff;
}
.ad-aside p{
    color: #fff;
}
.ad-aside li:hover{
    opacity: 1;
}
.ad-img{
    width: 316px;
    height: 170px;
    margin-left: 14.6px;
    float: left;
}
.ad-img img{
    width: 100%;
}
/* 广告模块 end */

/* 内容模块 start */
.content{
    width: 100%;
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 4px 0 12px;
}
/* 内容模块 end */

/* 手机模块 start */
.title{
    text-align: left;
    color: #333;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
}
.phone-box{
    width: 100%;
    height: 614px;
}

.phone-box-left{
    width: 234px;
    height: 614px;
    float: left;
}
.phone-box-right{
    width: 992px;
    height: 614px;
    float: left;
}
.item{

    width: 234px;
    height: 300px;
    margin: 0 0 14px 14px;
    background: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    float: left;
    transition: all 0.2s linear;
}
.item:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.item-img{
    width: 160px;
    margin-bottom: 19px;
}
.item-name{
    width: 214px;
    height: 21px;
    color: #333;
    line-height: 21px;
    margin: 0 auto 2px;
}
.item-desc{
    width: 214px;
    height: 18px;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 10px;
}

.item-price{
    color: #ff6700;
    font-size: 14px;
}

.big-img{
    width: 100%;
    height: 120px;
    margin: 22px 0;
}
/* 手机模块 end */



/* 家电模块 start */
.elc-box{
    width: 100%;
    height: 614px;
}
.elc-item{
    padding: 0;
    margin-left: 0;
}
.item-price>del{
    color: #b0b0b0;
    margin-left: 5px;
}
.item-last{
    width: 234px;
    height: 300px; 
    float: left;
    margin-left: 14px;
}
.item-last div{
    width: 234px;
    height: 143px;
    background-color: #fff;
    transition: all 0.2s linear;
}
.item-last>div:first-child{
    margin-bottom: 14px;
}
.item-last>div:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
/* 家电模块 end */

/* 视频模块 start */
.video-box{
    width: 100%;
    height: 299px;
}

.video-box>div{
    width: 296px;
    height: 285px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-right: 14px;
    transition: all 0.2s linear;
}

.video-box>div:last-child{
    margin-right: 0;
}

.video-box>div:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.video-img{
    width: 100%;
    height: 180px;
    margin-bottom: 28px;
    position: relative;
}
.btn{
    width: 32px;
    height: 20px;
    border-radius: 12px;
    border: 2px solid #fff;
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.sanjiao{
    width: 0;
    height: 0;
    border-left: 8px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin: 5px auto;
}
.video-name{
    color: #333;
    font-size: 14px;
    width: 285px;
    height: 21px;
    margin: 0 auto 6px;
}
.video-desc{
    width: 285px;
    height: 18px;
    margin: 0 auto;
    color: #b0b0b0;
    font-size: 12px;
}
.video-img:hover .btn{
    background: #ff6700;
    border-color:#ff6700;
}
/* 视频模块 end */

/* 页脚模块 start */
.footer-service{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-service li{
    float: left;
    width: 20%;
    border-right: 1px solid #b0b0b0;
    box-sizing: border-box;
}
.footer-service li:last-child{
    border-right: 0;
}
.footer-service i{
    font-size: 24px;
    margin-right: 6px;
}
.footer-service a{
    color: #616161;
}
.footer-service a:hover{
    color: #ff6700;
}
.footer-link{
    width: 100%;
    height: 172px;
    padding: 40px 0;
}
.footer-link ul{
    float: left;
    width: 160px;
    text-align: left;
    color: #424242;
    font-size: 14px;
    line-height: 1.25;
}
.footer-link ul a{
    font-size: 12px;
    color: #757575;
}
.footer-link ul li{
    margin-top: 10px;
}
.footer-aside{
    width: 250px;
    height: 111px;
    border-left: 1px solid #e0e0e0;
    float: right;
    color: #616161;
}

.footer-aside .tel{
    font-size: 22px;
    line-height: 22px;
    color: #ff6700;
    margin-bottom: 5px;
}
.footer-aside .time{
    font-size: 12px;
    margin-bottom: 5px;
}
.kefu{
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ff6700;
    box-sizing: border-box;
    margin: 0 auto;
    color: #ff6700;
    font-size: 12px;
    transition: all 0.4s;
}
.kefu:hover{
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.follow{
    font-size: 12px;
    margin-top: 10px;
}

.follow img{
    width: 24px;
    margin-left: 6px;
    position: relative;
    top: 7px;
}

/* 页脚模块 end */